html{
    background: repeating-linear-gradient(
        -45deg,
        #061BB0,
        #7463e0
    );
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
}
body{
    display: block;
    margin: 0px;
}
.col{
    grid-area: col;
}
.grid-container{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    width: 100%;
    height: fit-content;
    gap: 10px;
    padding: 50px 0px 50px 0px;
    justify-content: center;
    background-color: #F2EDEB;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: auto;
    margin: 20px;
}
nav{
    background-color: #FFFFFF;
    height: fit-content;
    padding: 10px 10px 10px 50px;
    border-radius: 10px 10px 0px 0px;
}
#nav-button:link, #nav-button:visited{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #061BB0;
    transition-duration: 0.4s;
}
#nav-button:hover, #nav-button:active{
    color: #7463e0;
    text-decoration: none;
}
#redes{
    width: 125.359px;
    margin: auto;
}
#cliente{
    margin: auto;
    padding: auto;
}
.logo{
    margin: auto;
    padding: auto;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#img-prod{
    width: 220px;
    height: 220px;
}
#product_01{
    grid-row-start: 1;
    grid-column-start: 1;
}
#product_02{
    grid-row-start: 1;
    grid-column-start: 2;
}
#product_03{
    grid-row-start: 1;
    grid-column-start: 3;
}
#product_04{
    grid-row-start: 2;
    grid-column-start: 1;
}
#product_05{
    grid-row-start: 2;
    grid-column-start: 2;
}
#product_06{
    grid-row-start: 2;
    grid-column-start: 3;
}
#product_07{
    grid-row-start: 3;
    grid-column-start: 1;
}
#product_08{
    grid-row-start: 3;
    grid-column-start: 2;
}
#product_09{
    grid-row-start: 3;
    grid-column-start: 3;
}
#product_10{
    grid-row-start: 1;
    grid-column-start: 4;
}
#product_11{
    grid-row-start: 2;
    grid-column-start: 4;
}
#product_12{
    grid-row-start: 3;
    grid-column-start: 4;
}